.gragh {
  form {
    margin: 30px auto;
    text-align: center;
    .category-item {
      display: inline-block;
      padding-left: 20px;
      font-size: large;
      input[type='radio'] {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      input[type='radio'] {
        cursor: pointer;
        padding-left: 30px;
        vertical-align: middle;
        position: relative;
      }

      input[type='radio']::before,
      input[type='radio']::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      input[type='radio']::before {
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid rgb(88, 150, 231);
        width: 20px;
        height: 20px;
        left: 5px;
      }

      input[type='radio']::after {
        border: 1px solid rgb(88, 150, 231);
        border-radius: 50%;
        opacity: 0;
        height: 16px;
        width: 16px;
        background-color: rgb(88, 150, 231);
        left: 7px;
      }

      input[type='radio']:checked::after {
        opacity: 1;
      }
    }
  }
  .highcharts-container {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 1024px) {
  .gragh {
    form {
      .category-item {
        padding-left: 10px;
        label {
          font-size: 18px;
        }
        input[type='radio']::before {
          width: 18px;
          height: 18px;
          left: 3px;
        }
        input[type='radio']::after {
          height: 14px;
          width: 14px;
          left: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .gragh {
    form {
      margin: 15px auto;
      .category-item {
        padding-left: 10px;
        label {
          font-size: 12px;
        }
        input[type='radio'] {
          padding-left: 25px;
        }
        input[type='radio']::before {
          width: 15px;
          height: 15px;
          left: 3px;
        }
        input[type='radio']::after {
          height: 11px;
          width: 11px;
          left: 5px;
        }
      }
    }
  }
}
